<library path="lib/libtuw_extrinsic_camera">
  <class name="tuw_extrinsic_camera/ImageView" type="tuw_extrinsic_camera::ImageView"
         base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to view a sensor_msgs/Image topic.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Extrinsic Camera Calibration</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin for viewing sensor_msgs/Image topics.</statustip>
    </qtgui>
  </class>
</library>
